<%= render "shared/header" %>

<div class="inquiry-wrapper container">
  <div class="row align-items-center h-100">
    <div class="col text-center">
      <p>お問い合わせいただきありがとうございました。</p>
      <p>お返事にしばらくお時間をいただく場合がございます。</p>
      <p>ご了承ください。</p>
      <%= link_to "投稿一覧ページへ戻る", posts_path %>
    </div>
  </div>
</div>
