// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index-title {
  background-image: image-url("original-bg-image3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  height: 40vh;
  opacity: 0.9;
}

.post-container {
  background-color: white;
}

.h1 {
  font-size: 40px;
  text-shadow: 1px 2px 3px #808080;
}

.new-post {
  font-size: 20px;
}

.hidden {
  display: none;
}

.post-title {
  font-weight: bold;
  font-size: 20px;
}

.post-content {
  height: 200px;
  overflow: hidden;
}

.comment {
  cursor: default;
}

.post-wrapper {
  border-radius: 1rem;
}