// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-link {
  text-decoration: none;
}

.index-title {
  background-image: image-url("original-bg-image3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  height: 40vh;
}

.post-container {
  background-color: white;
}