.post-link {
  text-decoration: none;
}

.index-title {
  background-image: image-url("original-bg-image3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  height: 40vh;
}

.post-container {
  background-color: white;
}